{% extends "base.html" %}

{% block content %}
<section class="all-blogs">
  <h1>كل المدونات</h1>
  <table>
    <thead>
      <tr>
        <th>اسم الموقع</th>
        <th>الرابط</th>
      </tr>
    </thead>
    <tbody>
      {% for site in cache.sites %}
      <tr>
        <td><a href="{{ site.url }}" target="_blank" rel="noopener">{{ site.name }}</a></td>
        <td><a href="{{ site.url }}" target="_blank" rel="noopener" class="url-link">{{ site.url }}</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</section>
{% endblock %}
